In [1]:
from scipy.stats import norm
import numpy as np
import pandas as pd

In [2]:
A=pd.read_table('HR.txt',index_col=0)

In [8]:
CT=pd.crosstab(A['Attrition'],A['Gender'])
CT

Gender       1    2
Attrition
No         732  501
Yes        150   87

In [12]:
n1=CT.iloc[:,0].sum()
n2=CT.iloc[:,1].sum()
x1=CT.iloc[1,0]
x2=CT.iloc[1,1]
x1,x2

(150, 87)

In [13]:
pp=(x1+x2)/(n1+n2)
pp

0.16122448979591836

In [15]:
p1=x1/n1
p2=x2/n2

In [16]:
zdata=(p1-p2)/np.sqrt((pp*(1-pp))*((1/n1)+(1/n2)))

In [17]:
zdata

1.1292547809155016

In [18]:
pval=2*(1-norm.cdf(abs(zdata)))
pval

0.2587903704911598

In [19]:
def twosampz(x1,x2,n1,n2):
    p1=x1/n1
    p2=x2/n2
    pp=(x1+x2)/(n1+n2)
    zdata=(p1-p2)/np.sqrt(pp*(1-pp)*((1/n1)+(1/n2)))
    pval=2*(1-norm.cdf(abs(zdata)))
    return round(zdata,3),round(pval,4)

In [21]:
z,p=twosampz(x1,x2,n1,n2)

In [22]:
print(z)

1.129

In [24]:
print(p)

0.2588

In [6]:
dat=pd.read_table('HR.txt')

In [7]:
dat.columns

Index(['Individual ', 'Attrition', 'Age', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [9]:
n1,n2=dat['Gender'].value_counts()

In [10]:
n2

588

In [11]:
CT=pd.crosstab(dat['Attrition'],dat['Gender'])
CT

Gender       1    2
Attrition
No         732  501
Yes        150   87

In [13]:
x1,x2=CT.loc['Yes']

In [38]:
x2

87

In [14]:
twosampz(x1,x2,n1,n2)

(1.129, 0.2588)